<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="shromik" connectionString="Data Source=DESKTOP-VRDAN9I;Initial Catalog=SHROMIK_LAGBE;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Shromik_Lagbe_v1._00.Properties.Settings.SHROMIK_LAGBEConnectionString"
   connectionString="Data Source=DESKTOP-VRDAN9I;Initial Catalog=SHROMIK_LAGBE;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>